@media only screen and (min-width: 992px) {
  .filter {
    width: 50%;
    height: 4vh;
    background-color: white;
    padding: 0 1% 0 1%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 3vh;
    z-index: 2;
  }


  .filterRow {
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 7px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .li p{
    color: rgb(138, 138, 138);
  }

  .liSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border: 2px solid rgb(26, 165, 21);
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .liSelected p {
    color: rgb(26, 165, 21);
  }

  .li:hover, .liSelected {
    cursor: pointer;
    color: rgb(26, 165, 21);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .filter {
    margin: auto;
    margin-top: 9vh;
    margin-bottom: 3vh;
    width: 90%;
    height: 3vh;
    background-color: white;
    padding: 5px 1% 0 1%;
    z-index: 2;
  }

  .filterRow {
    margin: 0;
    padding: 0;
    padding-top: 7px;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .li p{
    color: rgb(138, 138, 138);
    font-size: 1.4rem;
  }

  .liSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border: 2px solid rgb(26, 165, 21);
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .liSelected p {
    color: rgb(26, 165, 21);
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .filter {
    margin: auto;
    margin-top: 9vh;
    margin-bottom: 2vh;
    width: 95%;
    height: 4vh;
    background-color: white;
    padding: 5px 1% 0 1%;
    z-index: 2;
  }

  .filterRow {
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 7px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .li p{
    color: rgb(138, 138, 138);
    font-size: 1rem;
  }

  .liSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 400;
    border: 2px solid rgb(26, 165, 21);
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .liSelected p {
    color: rgb(26, 165, 21);
    font-size: 1rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .filter {
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 1rem;
    width: 95%;
    height: 3vh;
    background-color: white;
    padding:0;
    z-index: 2;
  }

  .filterRow {
    margin: 0;
    padding: 0;
    padding-top: 7px;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0.5rem;
    font-weight: 500;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 20px;
    width: fit-content;
    padding: 0 6px;
  }

  .li p{
    color: rgb(138, 138, 138);
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .liSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0.5rem;
    font-weight: 500;
    border: 2px solid rgb(26, 165, 21);
    border-radius: 20px;
    width: fit-content;
    padding: 0 6px;
  }

  .liSelected p {
    color: rgb(26, 165, 21);
    font-size: 0.8rem;
  }
}
